{% extends 'root.html' %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}
<div class="card card-default">
<div class="card-header">
  <div class="row">
<div class="col-md-12">
<h3 class="card-title">
  <i class="fa fa-bullhorn"></i>
  网页链接
</h3>
</div>
</div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-danger">
        <h5><a href="http://www.youdao.com" style="color:black">有道</a></h5>
      <p>国内知名翻译网站，比谷歌翻译好</p>
    </div>
        </div>
        <div class="col-md-6">
             <div class="callout callout-info">
        <h5><a href="http://www.stackoverflow.com" style="color:black">stackoverflow</a></h5>
      <p>全球程序员大牛论坛，各种难题都可以在此找答案，前提是能读懂英文</p>
    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-warning">
    <h5><a href="http://www.csdn.net" style="color:black">csdn</a></h5>
    <p>国内著名技术论坛，比stack逊色，但是好在语言无障碍</p>
    </div>
        </div>
            <div class="col-md-6"><div class="callout callout-success">
    <h5><a href="https://www.python.org/doc" style="color:black">python文档</a></h5>
    <p>python官方文档，本系统使用语言</p>
    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-danger">
        <h5><a href="https://docs.djangoproject.com/en/1.11/" style="color:black">django文档</a></h5>
      <p>django官方文档,本系统使用的基础mvc框架</p>
    </div>
        </div>
        <div class="col-md-6">
            <div class="callout callout-info">
        <h5><a href="https://adminlte.io/" style="color:black">adminlte</a></h5>
      <p>adminlte前端框架，本系统主用前端框架</p>
    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="callout callout-warning">
    <h5><a href="http://pandas.pydata.org/pandas-docs/stable/" style="color:black">pandas</a></h5>
    <p>pandas文档，本系统后端数据处理框架</p>
    </div>
        </div>
        <div class="col-md-6">
            <div class="callout callout-success">
    <h5><a href="http://echarts.baidu.com" style="color:black">Echarts</a></h5>
    <p>Echarts官网，本系统主用图表框架</p>
    </div>

        </div>
    </div>
    <div class="row" >
        <div class="col-md-6">
            <div class="callout callout-danger">
                <h5><a href="http://www.getbootstrap.com/" style="color:black">Bootstrap</a></h5>
              <p>全球最流行的网页前端框架，采用自适应窗口</p>
            </div>
        </div>
        <div class="col-md-6">
             <div class="callout callout-info">
        <h5><a href="http://www.w3school.com.cn/" style="color:black">w3school</a></h5>
      <p>著名it学习网站，涵盖html，css，js教程。还提供网页编辑器</p>
    </div>
        </div>
    </div>
</div>
</div>




{% endblock content%}

</html>
















